#one {
    color: #581845;
}

#two {
    color: #900C3F;
}

#three {
    color: #C70039;
}

#four {
    color: #FF5733;
}

#five {
    color: #FFC30F;
}

#bodyStyling {
    margin: 30px;
}

#bodyStyling .Card {
    margin: 20px;
    margin-top: 150px;
    border: solid 3px #581845;
    border-radius: 7px;
    color: #900C3F;
}

#bodyStyling .card-header {
    background-color: black;
    font-size: 30px;
    border-bottom: solid 2px #581845;
    color: #C70039;
}

#bodyStyling .card-subtitle {
    font-size: 20px;
    margin-bottom: 12px;
    color: #FF5733;
}

.card-body {
    background-color: black;
}

#bodyStyling .card-col {
    padding: 0px;
    margin: 0px;
}

#bodyStyling .cardBtn {
    color: black;
    background-color: #FFC30F;
    border: solid 1px black;
}