#bodyStyling {
    margin: 30px;
}

#bodyStyling .Card {
    color:#C70039;
    margin: 20px;
    margin-top: 150px;
    border: solid 3px #900C3F;
    border-radius: 7px;
}

#bodyStyling .card-header {
    background-color: #581845;
    font-size: 30px;
    border-bottom: solid 2px ;
    color: #FFC30F;
}

#bodyStyling .card-subtitle {
    color: #FF5733;
    font-size: 20px;
    margin-bottom: 12px;
}

.card-body {
    background-color: rgb(46, 44, 44);
}

#bodyStyling .card-col {
    padding: 0px;
    margin: 0px;
}